<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文档</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        h2 {
            color: darkturquoise;
            font-size: 30px;
            text-align: center;
        }

        h2 a {
            font-size: 14px;
            color: darkturquoise;
        }

        table {
            width: 95%;
            margin: 10px auto;
            background-color: white;
            border-radius: 4px;
            border: 1px solid #eeeeee;
        }

        tbody tr:hover {
            background-color: honeydew;
            cursor: pointer;
        }

        th,
        td {
            text-align: left;
            height: 45px;
            padding: 8px 20px;
            box-sizing: border-box;
            line-height: 29px;
            overflow: hidden;
            color: #909399;
            border: 1px solid rgb(235, 238, 245);
        }
    </style>
</head>

<body>
    <h2>
        <%= title%>
        <a href="/api/index">返回</a>
    </h2>
    <table>
        <tr>
            <th>URL</th>
            <th>说明</th>
            <th>请求方式</th>
            <th>参数</th>
        </tr>
        <%for(var i=0;i<list.length;i++){%>
        <tr>
            <td><%=list[i].url%></td>
            <td><%=list[i].type%></td>
            <td><%=list[i].params%></td>
            <td><%=list[i].des%></td>
        </tr>
        <%}%>
       
   </table>
</body>
</html>